$primary: black;
$white: white;
$navbar-height: 5.5rem;
$margin: 1rem;

html *
{
	 font-family: 'Tajawal' !important;

}

.navbar{
  background-color: transparent !important;
  position: fixed !important;
  width: 100%;
}

.container-custom{
  padding-top: 5vh;
}
.home-full-img{
	@include touch{
		height: 85vh;
	}
	@include from($desktop){
		height: 80vh;
	}
	background-image: url('./assets/img/bg-head.png');
	//background: linear-gradient(to top, rgba(255,181,64,1) 0%, rgba(244,104,61,1) 100%);
	background-repeat: no-repeat;
  background-size: 100% 100%;
	margin-bottom: -55px;
  .columns{
		padding-top: 10vh;
  }
  .mockup{
		width: 85%;
		// margin-right: 60px;
		// margin-top: 40px;
		// height: auto;
  }
  .title_one{
		color:#FFFFFF;
		font-size: 30px;
		padding-top: -5 0px;
	}
	p{
		color:#FFFFFF;
	}
	.is-primary{
		background-color: #FFB540 !important;
		border-color:  #FFB540 !important;
		color:#FFFFFF !important;
	}
	.is-primary:hover{
		background-color: transparent !important;
		border-color:  #FFFFFF !important;
		color:#FFFFFF !important;
	}
	.primary{
		border-color:  #FFFFFF !important;
	}
	.primary:hover{
		border-color:  #FFFFFF !important;
	}
}

.home-img{
	width: 50%;
}

.home-text{
	width: 50%;
}

.padding-top{
	padding-top: 20vh;
}

.wave{
	height: 100%;
}

.wave-text{
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.curve{
	margin-bottom: -6vh;
}

.tile.is-child{
	// box-shadow: 1px 5px 22px grey;
	box-shadow: 5px 5px 22px #9E9E9E;

}

.navbar-brand{
	align-self: center;
}

.is-black{
	color: white;
	background-color: #3A3A3A !important;
	transition: all 1s ease-in;
	*{
		color: white !important;
	}
	.navbar-item:hover{
		background-color: gray;
	}
}
.header-black{
	color: white;
	background-color: #3A3A3A !important;
	transition: all 250ms ease-in;
	*{
		color: white !important;
	}
	.navbar-item:hover{
		background-color: gray;
	}
}
.is-transparent{
	background-color: transparent;
	transition: all 250ms ease-in;
}

.navbar-brand{
	align-self: center;
}

.construction{
  .container{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .construction_top{
    padding-bottom: 10px;
		text-align: right;
  }
  .construction_bottom{
    padding-top: 10px;
  }
	.align-right{
		text-align: right;
	}
	.align-left{
		text-align: left;
	}
}

.technologies{
	background: linear-gradient(to bottom, rgba(255,181,64,1) 0%, rgba(244,104,61,1) 100%);
	height: 600px;
  .title_two{
		color: #FFFFFF !important;
  	padding-top: 30px;
	}
	.subtitle_two{
		color:#FFFFFF !important;
	}
  .modules{
    margin-top: -25px;
    width: 60rem;
  }
}

.contact{
	height: auto;
	background-image: url('./assets/img/bg-contacto.png');
	background-repeat: no-repeat;
	background-size: cover;
	.card{
		height: auto;
		background-color: rgb(255,181,64);
  }
  .container-contact{
    padding-top: 15rem;
  }
}

.contact-text-align{
	display: flex;
	align-items: center;
  	justify-content: center;

}

.contact-main-text{
	font-size: 45px;

}

span.contact-main-text{
	color: rgb(255,181,64);
}

.contact-text{

	font-size: 22px;

}

.is-font-white{
	*{
		color: white !important;
	}
}

.title_two{
  font-size: 47px !important;
  color: #000000 !important;
  font-weight: lighter !important;
}

.subtitle_two{
  color: #000000 !important;
}

.primary{
	background-color: #FFFFFF !important;
	border-color: #F4683D !important;
  color: #000000 !important;
}
.primary:hover{
	background-color: #F4683D !important;
	border-color: #F4683D !important;
  color: #FFFFFF !important;
}

.title_three{
  font-size: 47px !important;
  font-weight: lighter !important;
}

.secondary{
  color: #000000 !important;
  background-color: #FFFFFF !important;
}
.navbar{
	font-size: 1rem;
	.navbar-item{
		color: #FFFFFF;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
.navbar-item{
	img{
		max-height: none !important;
	}
}

.titles-transition{
  position: relative;
  animation: intro 5s;
	animation-timing-function: ease;
}

@keyframes intro {
    from {left: 200px; color: #CFD8DC;}
    to {left: 0px; color: $primary}
}
.margin-sides {
	margin-left: $margin;
	margin-right: $margin;
}

#header-movil {
	display: none !important;
}

#header-desktop {
	display: flex;
	justify-content: center;
}
.img-phone{
	display: none
}

.btn-contact {
	background: transparent;
  color: white;
	font-weight: lighter;
	border-color: #fff;
}

.btn-contact:hover {
	background: #fff;
  color: #4e4e4e;
	font-weight: lighter;
	border-color: #fff;
	transition: all 400ms ease-in;
}
