$primary: black;
$white: white;
$navbar-height: 5.5rem;

html *
{
	 font-family: 'Tajawal' !important;

}

.navbar{
  background-color: transparent !important;
  position: fixed !important;
  width: 100%;
}

.container-custom{
  padding-top: 5vh;
}
.home-full-img{
  background-image: url('./assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
	margin-bottom: -5px;
  .columns{
  	padding-top: 15vh
  }
  .mockup{
		width: 66%;
		margin: 0 auto;
		height: auto;
  }
  img{
	  padding-top: 10vh;
	  padding-left: 5vh;
	}
  .title_one{
    padding-top: 40px;
    font-size: 30px;
  }
}

.home-img{
	width: 50%;
}

.home-text{
	width: 50%;
}

.padding-top{
	padding-top: 20vh;
}

.wave{
	height: 100%;
	background: linear-gradient(to bottom, rgba(255,22,53,1) 0%, rgba(242,78,28,1) 100%);
}

.wave-text{
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.curve{
	margin-bottom: -6vh;
}

.card{
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 15px;
}

.navbar-brand{
	align-self: center;
}

.is-black{
	color: white;
	background-color: #3A3A3A !important;
	transition: all 1s ease-in;
	*{
		color: white !important;
	}
	.navbar-item:hover{
		background-color: gray;
	}
}
.header-black{
	color: white;
	background-color: #3A3A3A !important;
	transition: all 1s ease-in;
	*{
		color: white !important;
	}
	.navbar-item:hover{
		background-color: gray;
	}
}
.is-transparent{
	background-color: transparent;
	transition: all 1s ease-in;
}

.navbar-brand{
	align-self: center;
}

.construction{
  .container{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .construction_top{
    padding-bottom: 10px;
  }
  .construction_bottom{
    padding-top: 10px;
  }
}

.technologies{
  background: linear-gradient(to bottom, rgba(255,181,64,1) 0%, rgba(244,104,61,1) 100%);
  .title_two{
  	padding-top: 30px;
  }
  .modules{
    margin-top: -45px;
    width: 60%;
  }
}

.contact{
	height: auto;
	background-image: url('./assets/img/bg-contacto.png');
	background-repeat: no-repeat;
	background-size: cover;
	.card{
		height: auto;
		background-color: rgb(255,181,64);
  }
  .container-contact{
    padding-top: 15rem;
  }
}

.contact-text-align{
	display: flex;
	align-items: center;
  	justify-content: center;

}

.contact-main-text{
	font-size: 45px;

}

span.contact-main-text{
	color: rgb(255,181,64);
}

.contact-text{

	font-size: 22px;

}

.is-font-white{
	*{
		color: white !important;
	}
}

.title_two{
  font-size: 47px !important;
  color: #FFFFFF !important;
  font-weight: lighter !important;
}

.subtitle_two{
  color: #FFFFFF !important;
}

.primary{
  background-color: #F4683D !important;
  color: #FFFFFF !important;
}

.title_three{
  font-size: 47px !important;
  font-weight: lighter !important;
}

.secondary{
  color: #000000 !important;
  background-color: #FFFFFF !important;
}
.navbar{
	font-size: 1rem;
	.navbar-item{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
.navbar-item{
	img{
		max-height: none !important;
	}
}
