@include touch {
  .curve{
    display: none;
  }
  .home-full-img{
    background: transparent;
    margin-bottom: -30px;
    .columns{
    	padding-top: 5vh
    }
  }
  .technologies{
    .subtitle_two{
      padding-bottom: 3.5rem;
    }
  }
  .container-contact{
    padding-top: 7.5rem;
  }
  .contact{
    .container-contact{
      padding-top: 10vh;
    }
  }
  .construction{
    padding-top: 10vh;
    .align-right{
      text-align: center;
      text-align: justify;
    }
    .align-left{
      text-align: center;
      text-align: justify;
    }
  }
  .home-full-img {
    background: linear-gradient(to top, rgba(255,181,64,1) 0%, rgba(244,104,61,1) 100%);
  }
  #columns-header {
    flex-direction: column-reverse;
  }
  .img-phone{
  	display: block;
  }
}

@include desktop-only {

}

@include widescreen-only {
}

@include fullhd {}
