@include touch {
  .curve{
    display: none;
  }
  .home-full-img{
    p {
      color: $dark !important;
    }
    background: transparent;
    margin-bottom: -30px;
    .columns{
    	padding-top: 5vh
    }
  }
  .technologies{
    .subtitle_two{
      padding-bottom: 3.5rem;
    }
  }
  .container-contact{
    padding-top: 7.5rem;
  }
  .contact{
    .container-contact{
      padding-top: 10vh;
    }
  }
  .construction{
    padding-top: 10vh;
    .align-right{
      text-align: center;
      text-align: justify;
    }
    .align-left{
      text-align: center;
      text-align: justify;
    }
  }
}

@include desktop-only {

}

@include widescreen-only {
}

@include fullhd {}
