$primary: black;

.navbar{
  position: fixed !important;
  width: 100%;
}
.container-custom{
  padding-top: 5vh;
}
.home-full-img{
  height: 100vh;
  background-image: url(http://wtc-talent.com/static/img/wtc.bec4019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
