.navbar {
  background-color: black;
  color: white !important;
  padding: 20px 0;
  position: fixed;
  width: 100%;
}
.navbar-item{
  color: white;
}
.navbar-item:hover{
  color: gray !important;
}

.container-custom{
  padding: 12vh 2vh 2vh 2vh;
  background: red;
}
